{
  "plugins": ["prettier-plugin-astro"],
  "singleQuote": true,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
